Flask==2.3.2
flask-cors==4.0.0
python-dotenv==1.1.0

langchain==0.3.26
langchain-openai==0.3.25
langchain-community==0.3.26
langchain-huggingface==0.3.0
langchain-google-genai==2.0.10
langchain-pinecone==0.2.8
langchain-text-splitters==0.3.8

pinecone-client==3.2.2
pinecone==7.2.0

transformers==4.41.1
tokenizers==0.19.1
sentence-transformers==2.7.0
torch==2.3.0

huggingface-hub==0.22.2
PyPDF2==3.0.1
